matplotlib==3.9.2
numpy==1.26.4
pandas==2.2.3
pandas-datareader==0.10.0
plotly==5.24.1
requests==2.32.3
shap==0.45.1
scikit-learn==1.5.2
scipy==1.14.1
seaborn==0.13.2
TA-Lib==0.6.4
yfinance==0.2.4
xgboost==2.0.3
